{% extends 'layouts/base.html' %}
{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae asperiores temporibus, quidem quos incidunt totam sequi voluptates quasi laborum laudantium numquam sapiente in sit nostrum neque veritatis? Facilis consectetur officia incidunt voluptas porro quos enim libero molestias, accusantium, reprehenderit magni voluptates quod, tenetur iure aperiam magnam. Sequi officia quisquam magni laudantium maxime nostrum, necessitatibus atque est expedita sunt facere et dolorem consectetur veniam, perspiciatis magnam. Quo minima, ex facilis similique quisquam aspernatur optio odit blanditiis quam quasi porro vel corrupti facere sequi quidem voluptatem nam molestiae voluptatibus quod nostrum. Ut error architecto earum quia praesentium pariatur reiciendis vel ipsa excepturi.</p>

<p>Web created by {{username}}</p>

{% endblock %}